@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300;400;500;600;700;800;900&display=swap');
@import "../../../node_modules/selectric/src/selectric";
@import './abstracts/mixins';

:root {
  --body-background-color: #fff;
  --font-color: #252525;
  --header-height: 108px;

  --light-gray: #E0E0E0;
  --category-border-color: #eeeeee;
  --feature-section-background-color: #252525;
  --feature-section-color: #fff;

  --breadcrumbs-link-color: #9E9E9E
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  cursor: pointer;
  font-family: 'Darker Grotesque', sans-serif;
  color: var(--font-color);
}

body {
  font-family: 'Darker Grotesque', sans-serif;
  background-color: var(--body-background-color);
  color: var(--font-color);

  &.dark-theme {
    --body-background-color: #252525;
    --font-color: #fff;
    --light-gray: #E0E0E0;
    --category-border-color: #252525;
    --feature-section-background-color: #eeeeee;
    --feature-section-color: #252525;
  }
}

.category-button {
  display: inline-flex;
  padding: 2px 0.5rem;
  text-transform: uppercase;
  font-weight: 800;
  color: var(--font-color);
  font-size: 16px;
  border-right: 2px solid var(--category-border-color);
  border-bottom: 2px solid var(--category-border-color);
  text-decoration: none;

  &:hover,
  &:focus {
    border-color: var(--font-color);
    text-decoration: none;
  }
}

.filters-button {
  padding: 0.5rem 1rem;
  font-size: 1em;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  letter-spacing: 0.01em;
  border: 4px solid #000;
  min-width: 160px;
  background-color: var(--body-background-color);
  transition: letter-spacing 0.2s ease;

  &:hover,
  &:focus {
    letter-spacing: 0.05em;

    &::before {
      display: none;
    }
  }

  span {
    z-index: 2;
    position: relative;
  }

  &::before {
    content: '';
    position: absolute;
    left: 50%;
    top: -4px;
    bottom: -4px;
    z-index: 1;
    width: 28px;
    transform: translateX(-50%);
    background-color: var(--body-background-color);
    display: block;
  }
}

.header {
  height: var(--header-height);
  background-color: var(--body-background-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  z-index: 2;
  position: fixed;
  top: 0;
  width: 100%;
  transition: top 0.2s ease-in-out;

  &__section {
    flex: 50%;
    display: flex;
    align-items: center;

    &--right {
      justify-content: space-between;
    }
  }

  .toggle-nav-button {
    font-size: 1em;
    background-color: transparent;
    border: none;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: .01em;
    padding: 0 2em 0 1em;
    line-height: 3em;
    position: relative;

    &:focus span {
      right: 8px;

      &::before,
      &::after {
        right: -4px;
      }
    }

    // refactor in future
    span {
      width: 16px;
      height: 2px;
      positioN: absolute;
      display: block;
      top: 50%;
      right: 0;
      transform: translateY(-3px);
      background-color: var(--font-color);

      &::before,
      &::after {
        content: '';
        width: 16px;
        height: 2px;
        positioN: absolute;
        display: block;
        top: 50%;
        right: 4px;
        transform: translateY(-8px);
        background-color: var(--font-color);
      }

      &::after {
        transform: translateY(6px)
      }

    }
  }
}

.nav-container {
  display: none;
  position: fixed;
  top: var(--header-height);
  left: 0;
  bottom: 0;
  right: 0;
  background-color: var(--body-background-color);
  z-index: 1;
  overflow: hidden;

  &--opened {
    display: block;
  }

  &__menus {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 1rem;

    @include res(desktop) {
      flex-direction: row;
    }
  }

  .menu-main-container {
    width: 445px;
    margin: auto;
  }

  .menu {
    list-style: none;

    a {
      font-size: 2em;
      padding: 0.25rem 0;
      display: inline-block;
      font-weight: 800;
      text-decoration: none;
      color: var(--font-color);
      transition: color 0.2s ease-in-out;

      &.not-active {
        color: var(--light-gray);
      }
    }
  }
}

.utils {
  display: none;
  width: 100%;
  justify-content: space-between;
  list-style: none;

  @include res(desktop) {
    display: flex;
  }

  &__item {
    &:not(:last-of-type) {
      margin-right: 2rem;
    }
  }

  &__button {
    font-size: 1em;
    border: none;
    background-color: transparent;
    text-transform: uppercase;
    font-weight: 900;
    color: var(--light-gray);
    margin-right: 0.5rem;
    text-decoration: none;
    letter-spacing: 0.01em;

    &--active {
      color: var(--font-color);
    }
  }
}

.opening-hours {
  position: fixed;
  bottom: 2rem;
  right: 2rem;

  &__content {
    position: absolute;
    background-color: var(--body-background-color);
    bottom: 37px;
    padding: 2rem 2rem 1rem 2rem;
    width: 315px;
    right: 0;
    display: none;

    &--opened {
      display: block;
    }
  }

  &__title {
    font-size: 1.5em;
    font-weight: 900;
    line-height: 125%;
  }

  &__location {
    display: flex;
    align-items: center;
  }

  &__button {
    background-color: var(--body-background-color);
    font-weight: 900;
    border: 0;
    padding: 0.5rem 1rem;
    display: inline-flex;
    align-items: center;
    font-size: 1em;
    text-transform: uppercase;
  }

  &__icon {
    margin-right: 0.5rem;
    @include size(15px);
    color: var(--light-gray);
  }

  dl {
    padding: 1rem;
  }

  dt {
    font-size: 1em;
    font-weight: 700;
    line-height: 125%;
  }

  dd {
    font-weight: 500;
  }
}

.slider {
  background: var(--body-background-color);
  display: flex;
  flex-direction: column-reverse;

  @include res(tab) {
    flex-direction: row;
    min-height: calc(100vh - var(--header-height));

  }

  &__content,
  &__image {
    @include res(tab) {
      flex: 50%;
    }
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    article {
      background: var(--body-background-color);
      padding: 1rem;
      width: 630px;
      max-width: 100%;

      @include res(desktop) {
        padding: 2rem 60px 2rem 2rem;
        transform: translateX(30px);
      }
    }
  }

  &__image {
    height: 30vh;

    @include res(desktop) {
      height: unset;
    }

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  &__meta {
    display: flex;
    list-style: none;

    .material-icons {
      color: var(--light-gray);
      margin-right: 0.5rem;
      @include size(15px);
    }

    li {
      margin-right: 1rem;
      display: flex;
      align-items: center;

    }
  }

  &__title {
    font-size: 2em;
    font-weight: 800;
    margin-bottom: 1rem;

    @include res(desktop) {
      font-size: 3em;
      margin-bottom: 2rem;
    }

    .category-button {
      position: relative;
      top: -5px;
      left: 10px;

      @include res(desktop) {
        top: -9px;

      }
    }
  }

  &__title-link {
    color: var(--font-color);
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

  &__paragraph {
    font-weight: 500;
    line-height: 150%;
    font-size: 1em;
  }
}

.section {
  padding: 2rem;

  &__title {
    color: var(--feature-section-color);
    font-size: 4.5em;
    font-weight: 900;
  }

  &--today {
    color: var(--feature-section-color);
    background-color: var(--feature-section-background-color);
  }
}

.page-template,
.page {
  padding-top: var(--header-height);
}

.site-content,
.container {
  width: 1170px;
  max-width: 100%;
  margin: var(--header-height) auto 0;
  padding: 0 1rem;
}

.container {
  margin-top: 0;
}

.crumbs {
  font-size: 0.875em;
  text-transform: uppercase;

  a {
    text-decoration: none;
    color: var(--breadcrumbs-link-color);

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}

.single-page {
  &__title {
    font-size: 4.5em;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
  }
}

.filters {
  background-color: var(--feature-section-background-color);
  padding: 3rem 1rem;
  margin-bottom: 2rem;
}

.filters-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  &__fields {
    display: flex;
  }

  &__group {
    position: relative;
  }

  &__clear-button {
    border: 0;
    background-color: transparent;
    display: flex;
    align-items: center;
    font-size: 1em;
    text-transform: uppercase;
    color: #757575;
    font-weight: 900;

    .material-icons {
      margin-right: 0.5em;
    }
  }

  label {
    color: #fff;
    font-size: 1em;
    position: absolute;
    display: inline-block;
    top: -12px;
    z-index: 10000;
    left: 5px;
    cursor: pointer;
    padding: 0 10px 0 10px;
    background-color: var(--feature-section-background-color);
  }

  .selectric-wrapper {

    &.selectric-open .selectric {
      border-color: #fff;
    }

    .selectric {
      background-color: transparent;
      border: 1px solid #757575;
      margin-right: 1rem;

      .label {
        font-size: 1em;
        color: #757575;
        margin-right: 48px;
        margin-left: 15px;
      }

      .button {
        background-color: transparent;
        border: none;
      }
    }

    .selectric-items {
      background-color: #fff;
      border-top: 0;

      li {
        color: #000;
        font-size: 16px;
        transition: color 0.2s ease, background-color 0.2s ease;

        &:hover {
          background-color: #252525;
          color: #fff;
        }
      }
    }
  }
}

.posts-list {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr 1fr;
}

.post {
  &__thumbnail {
    a {
      display: block;

      img {
        object-fit: cover;
        width: 100%;
        height: auto;
      }
    }
  }

  &__title {
    font-size: 2em;
    font-weight: 900;
    line-height: 100%;

    a {
      text-decoration: none;
      color: var(--font-color);
      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }
  }
}
