@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300;400;500;600;700;800;900&display=swap');
@import './abstracts/mixins';

:root {
  --body-background-color: #fff;
  --font-color: #252525;
  --header-height: 108px;

  --light-gray: #E0E0E0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  cursor: pointer;
  font-family: 'Darker Grotesque', sans-serif;
}

body {
  font-family: 'Darker Grotesque', sans-serif;
  background-color: var(--body-background-color);
  color: var(--font-color);

  &.dark-theme {
    --body-background-color: #252525;
    --font-color: #fff;
  }
}

.header {
  height: var(--header-height);
  background-color: var(--body-background-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  z-index: 2;

  .toggle-nav-button {
    font-size: 1em;
    background-color: transparent;
    border: none;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: .01em;
    padding: 0 2em 0 1em;
    line-height: 3em;
    position: relative;

    &:focus span {
      right: 8px;

      &::before,
      &::after {
        right: -4px;
      }
    }

    // refactor in future
    span {
      width: 16px;
      height: 2px;
      positioN: absolute;
      display: block;
      top: 50%;
      right: 0;
      transform: translateY(-3px);
      background-color: var(--font-color);

      &::before,
      &::after {
        content: '';
        width: 16px;
        height: 2px;
        positioN: absolute;
        display: block;
        top: 50%;
        right: 4px;
        transform: translateY(-8px);
        background-color: var(--font-color);
      }

      &::after {
        transform: translateY(6px)
      }

    }
  }
}

.nav-container {
  display: none;
  position: fixed;
  top: var(--header-height);
  left: 0;
  bottom: 0;
  right: 0;
  background-color: var(--body-background-color);
  z-index: 1;
  overflow: hidden;

  &--opened {
    display: block;
  }

  &__menus {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 1rem;

    @include res(desktop) {
      flex-direction: row;
    }
  }

  .menu-main-container {
    width: 445px;
    margin: auto;
  }

  .menu {
    list-style: none;

    a {
      font-size: 2em;
      padding: 0.25rem 0;
      display: inline-block;
      font-weight: 800;
      text-decoration: none;
      color: var(--font-color);
      transition: color 0.2s ease-in-out;

      &.not-active {
        color: var(--light-gray);
      }
    }
  }
}

.opening-hours {
  position: fixed;
  bottom: 2rem;
  right: 2rem;

  &__content {
    position: absolute;
    background-color: var(--body-background-color);
    bottom: 37px;
    padding: 2rem 2rem 1rem 2rem;
    width: 315px;
    right: 0;
    display: none;

    &--opened {
      display: block;
    }
  }

  &__title {
    font-size: 1.5em;
    font-weight: 900;
    line-height: 125%;
  }

  &__location {
    display: flex;
    align-items: center;
  }

  &__button {
    background-color: var(--body-background-color);
    font-weight: 900;
    border: 0;
    padding: 0.5rem 1rem;
    display: inline-flex;
    align-items: center;
    font-size: 1em;
    text-transform: uppercase;
  }

  &__icon {
    margin-right: 0.5rem;
    @include size(15px);
    color: var(--light-gray);
  }

  dl {
    padding: 1rem;
  }

  dt {
    font-size: 1em;
    font-weight: 700;
    line-height: 125%;
  }

  dd {
    font-weight: 500;
  }
}

.slider {
  min-height: calc(100vh - var(--header-height));
  background-color: #09f;
}
